#project {
    padding-top: 6rem;
}

.fade-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.fade-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.image-holder image img {
    width: 212px;
    height: 119px;
    border-radius: 8px;
    filter: drop-shadow(3px 3px 3px black)
}

.project-container {
    margin: 15px auto 15px 0;
}

.project-container > .title {
    padding: 10px 0 10px 0;
}
